---
import { listMovies } from '../utils/client';

const movies = await listMovies();
---

{import.meta.env.PUBLIC_KEY}
{import.meta.env.PUBLIC_API_HOST}
{
	movies.data.map((movie) => (
		<div>
			<h2>{movie.title}</h2>
			<p>{movie.posterUrl}</p>
		</div>
	))
}
