---
import { listMovies } from '../utils/client';
import { MovieList } from './MovieList';

const movies = await listMovies();
---

<div style="margin-top: 26px"></div>
<MovieList movies={movies.data} />
