---
import GenreFilter from '../ui/GenreFilter.astro';
import Movies from '../ui/Movies.astro';
import { Search } from '../ui/Search';
import { SearchResults } from '../ui/SearchResults';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<section>
			<Search client:load />
		</section>
		<section>
			<GenreFilter />
		</section>
		<SearchResults client:load />
	</body>
</html>
